.progress-bar {
background-color: $primary;
}
.progress-bar-success {
  background-color: $success;
}
.progress-bar-warning {
  background-color: $warning;
}
.progress-bar-danger {
  background-color: $danger;
}

body{
  &.login{
    background-image:url('../img/bg-lowry01.jpg');
    background-color:transparent;
    background-repeat: no-repeat ;
    background-position:center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.logosd em{ 
  display:none;
}
.logosd::before{
  content:'';
  display:block;
  background:url('../img/sd_nb.svg') no-repeat center center;
  padding:0 30%;
  min-height:5rem;
  opacity:0.5;

}
