{{template "header.html"}}
{{template "header_close.html"}}
{{if .User}}
{{template "navbar.html" .}}
{{end}}

    <div class="container">
      <br />
      <div class="row justify-content-center">
	<h1>Error 403</h1>
      </div>
      <div class="row justify-content-center">
	<p>Necesitas ser administrador para acceder a esta página</p>
      </div>
    </div>

{{template "footer.html"}}
