{{template "header.html"}}
{{template "header_close.html"}}
{{template "navbar.html" .}}

    <div class="container">
      <br />
      <h1 class="row justify-content-center">Invitacion a SinDominio</h1>

      <br />
      <div class="row justify-content-center">
	<div class="col-md-8">
          <p>Enviale a tu amiga la siguiente dirección para que se pueda crear su cuenta en sindominio: <br />
	  <em> {{.Data.InviteURL}}</em>
	  </p>
	</div>
      </div>

    </div>

{{template "footer.html"}}
