{{template "header.html"}}
  </head>
  <body class="login">
    <div class="container">
      <br />
      <div class="row justify-content-center">
        <img src="/img/sd_bn.svg" />
      </div>

      <div class="row justify-content-center">
        <form class="col-4" action="/login/" method="post">
          <div class="form-group">
            <label for="user">Usuaria:</label>
            <input type="text" class="form-control {{if .Data}}is-invalid{{end}}" id="user" name="user" placeholder="Nombre de usuaria">
          </div>

          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control {{if .Data}}is-invalid{{end}}" id="password" name="password" placeholder="Contraseña">
            <div class="invalid-feedback">Contraseña o nombre de usuaria incorrecto.</div>
          </div>

          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
      </div>
    </div>
{{template "footer.html"}}
