{{template "header.html"}}
<script type="text/javascript" src="/js/jquery.dynatable.js"></script>
<link rel="stylesheet" type="text/css" href="/js/jquery.dynatable.css">
{{template "header_close.html"}}
{{template "navbar.html" .}}

<style type="text/css">
  tr:nth-child(even) {background: #CCC}
  tr:nth-child(odd)  {background: #FFF}
  th                 {background: black}
</style>

<table id="users-table" class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Rol</th>
			<th scope="col">Shell</th>
			<th scope="col">Login</th>
			<th scope="col">UID</th>
			<th scope="col">GID</th>
		</tr>
	</thead>
	<tbody>
		{{range .Data}}
		<tr {{if eq (printf "%v" .Role) "sindominante"}}class="table-success"{{end}}>
			<th scope="row"><a href="/users/{{.Name}}">{{.Name}}</a></th>
			<td>{{.Role}}</td>
			<td {{if ne .Shell "/bin/false"}}class="font-weight-bold"{{end}}>{{.Shell}}</td>
			<td>{{.LastLogin}}</td>
			<td>{{.UID}}</td>
			<td>{{.GID}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
<script>
    $('#users-table').dynatable();
</script>

{{template "footer.html"}}
